* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#markdown-input {
    width: 100%;
    height: 100px;
}
#html-output, #preview {
    min-height: 100px;
    display: flex;
    flex-flow: column;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin: auto;
    white-space: pre-wrap;
    background-color: #f9f9f9;
}
@media (min-width: 600px) {
    #markdown-input, #html-output, #preview {
        min-height: 200;
        display: flex;
        margin: 0;
   }
    #container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 100px;
   }
}